body{
	background: rgba(229, 229, 299, .3)
}
.pbox
.head{
	background: url('../img/faq-q-back.png')no-repeat center center;
	background-size: 100% 100%;
}
.box{
	background: url('../img/faq-q-o-back.png')no-repeat top center;
	background-size: 100% auto;
}



/* Above Footer Section */
.AF {
	background: url('../img/home-above-footer-back.jpg')no-repeat top right ;
	background-size: cover;
}
.AF p.fwm, .AF p.fwm  a{
	font-size: 18px;
	color: #3E8696 !important;
}
.AF p.RD{
	font-size: 24px;
}

