/*==========================================



==========================================*/
.navbar{
	background: transparent !important;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}
.hero{
	background: url('../img/home-hero.jpg')no-repeat bottom right;
	background-size: cover;
}
.hero h1{
	font-size: 55px;
}
.hero a.btn{
	font-size: 16px;
	max-width: 270px;
	background: url('../img/hero-btn-back.png')no-repeat center center;
	background-size: 100%	100%;
}
.hero a.btn .fa{
	font-size: 24px;
}
@media(max-width: 768px){
	.hero{
		background-position:bottom left;
	}
	.hero h1{
		font-size: 40px;
	}
}


/* Under Header  */
.UH p.small{
	line-height: 40px;
}
.UH p.h3{
	line-height: 40px;
}

.UH a.bnt{
	font-size: 14px;
	max-width: 270px;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
}
.UH .bb1{
	border-bottom: 5px solid #252733;
}

@media(max-width: 768px){
	.UH .lf img{
		width: 100% !important;
	}
	.UH p.small{
		line-height: 20px;
	}
	.UH p.h3{
		font-size: 20px;
		line-height: 30px;
	}
}


/* Counter Section */

.CT{
	background: url('../img/home-count.jpg')no-repeat top right;
	background-size: cover;
}
.CT p{
	display: table;
	background: url('../img/count-number-back.png')no-repeat center center;
	background-size: 100% 100%;
}
.CT h1{
	font-size: 60px;
}

@media(max-width: 768px){
	.CT h1{
		font-size: 50px;
	}
	.CT .txt{
		text-align: center;
	}
	.CT .txt p{
		margin: auto;
	}
}

/* Design Section */
.indi{
	opacity: 1;
}
.indi img{
	width: 100%;
}
.indil{
	top: auto;
	bottom: 15%;
	left: 30%;
}
.indir{
	bottom: auto;
	top: 15%;
	right: 30%;
}
.DES a.bnt{
	font-size: 16px;
	max-width: 270px;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
}
/* Quality Control */
.REW  .qc p{
	vertical-align: top;
}
@media(max-width: 768px){
	.REW p{
		font-size: 14px;
	}
}


/* Above Footer Section */
.AF {
	background: url('../img/home-above-footer-back.jpg')no-repeat top right ;
	background-size: cover;
}
.AF p.fwm, .AF p.fwm  a{
	font-size: 18px;
	color: #3E8696 !important;
}
.AF p.RD{
	font-size: 24px;
}


