/*==========================================



==========================================*/
.navbar{
	background: transparent !important;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}
.hero{
	background: url('../img/product-hero-back.jpg')no-repeat bottom right;
	background-size: cover;
}
.hero h1{
	font-size: 55px;
}
.hero a.btn{
	font-size: 16px;
	max-width: 270px;
	background: url('../img/hero-btn-back.png')no-repeat center center;
	background-size: 100%	100%;
}
.hero a.btn .fa{
	font-size: 24px;
}
@media(max-width: 768px){
	.hero{
		background-position:bottom left;
	}
	.hero h1{
		font-size: 30px;
	}
	.hero a.btn{
		max-width: 230px;
		/* padding: 10px !important; */
		font-size: 12px;
	}
}

/* Ethical Section */
.ETH .container{
	position: relative;
}
.ETH .tilt{
	position: absolute;
	top: 90px;
	left: -90px;
	transform: rotate(90deg)
}


/* Ethical Section */
.TR{
	border-bottom: 2px solid #DBDBDB;
}
.TR .container{
	position: relative;
}
.TR .tilt{
	position: absolute;
	top: 90px;
	left: -90px;
	transform: rotate(90deg)
}


.TR a.carousel-control-prev,.TR a.carousel-control-next{
	position: relative;
	opacity: 1;
	bottom: 0;
	top: auto;
	left: auto;
	/* right:0; */
}
.TR .indi{
	width: 100%;
	margin-bottom: -30px;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* FORM SECTION */


.FRM a.bnt{
	font-size: 16px;
	max-width: 240px;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
	text-decoration: none;
}
.FRM button.bnt{
	font-size: 16px;
	max-width: 240px;
	width: 240px;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
	border: none;
	cursor: pointer
}