/*
Theme Name: Depton
Author: Sam Tom
Description: Depton Thme
Version: 0.0.1
Tags: bootstrap

*/



/*
===========
  Desktop
===========
*/
footer {
  float: left;
  width: 100%;
}
.top-bar-container {
  background: #00c4ff;
  padding: 5px 10px;
}
.right-top-bar .user-menu li a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none
}
.user-menu {
  float: left;
  width: 100%;
  margin: 0;
}
.user-menu li {
  list-style-type: none;
  float: right;
  padding: 0 0 0 10px;
}
.page-template-page-wp-member .div_text {
  float: left;
  width: 100% !important;
}
.effects {
  position: absolute;
  top: 0;
  display: none;
}
.widget-title {
  font-size: 1.25rem;
  text-transform: uppercase;
}
footer ul {
  padding: 0;
}
footer .menu-item {
  list-style: none;
}
footer .menu-item a {
  color: #fff;
  padding: 0;
}
#wpmem_reg .req-text {
  margin: 0px !important;
}
.TM .col2:hover .img1 {
  filter: contrast(0.1) grayscale(100) !important;
}
.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 94%;
  overflow: hidden;
}
.tv__overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity .5s;
}
.tv .screen.active {
  opacity: 1;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding-left: 0 !important;
  width: 100%;
  height: 100%;
}
.hi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(37, 39, 51, 0.97);
  top: 0;
  transition: opacity 0.3s ease-in-out;
}
.fading-vid {
  height: 802px;
  width: 100%;
  position: relative;
  transition: height 0.3s ease-in-out;
}
.fading-vid__close {
  background: url(img/close.png) no-repeat;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  cursor: pointer;
  z-index: 6;
}
body.play .hi {
  opacity: 0;
}
body.play .tv {
  z-index: 3;
}
body.play #overlay {
  opacity: 0;
}
body.play .navbar {
  opacity: 0;
}
body.play .fading-vid__close {
  display: block;
  z-index: 10;
}
body.play--hide .hi {
  display: none;
}
body.play--hide #overlay {
  display: none;
}
body.play--hide .navbar {
  display: none;
}
.background_image_home {
  background-size: contain;
  width: 400px;
  float: left;
  height: 144px;
  margin-top: 15px;
}
.background_image_home a {
  float: left;
}
.background_image_home .home-a-row {
  float: left;
  width: 100%;
}

.background_image_home #home-a-row-1 #first-image svg {
  margin-left: 20px;
  position: relative;
  bottom: 5px;
  width: 170px;
}
.background_image_home #home-a-row-1 #second-image svg {
  margin-left: -20px;
  position: relative;
  bottom: 15px;
  width: 140px;
}
.background_image_home #home-a-row-2 #third-image svg {
  margin-left: 25px;
  position: relative;
  bottom: 66px;
  left: 75px;
  width: 170px;
}
.background_image_home #home-a-row-2 #fourth-image svg {
  margin-left: -36px;
  position: relative;
  bottom: 75px;
  left: 62px;
  width: 170px;
}
.hexgon_container {
  background: url(img/svg/about_bg.svg) no-repeat center center;
  background-size: contain;
}
.hexgon_arrow {
  position: absolute;
  top: 25%;
  left: 17%;
  background: url(img/svg/arrow.svg) no-repeat center center;
  background-size: contain;
  width: 247px;
  height: 45px;
}
#top_hexgen_about {
  position: absolute;
  bottom: 49px;
  z-index: 987;
  right: 0px;
  left: 0px;
  padding: 100px 0;
}
#center_hexgen_about {
  position: relative;
  z-index: 999;
  padding: 100px 0;
  cursor: pointer;
}
#center_hexgen_about img{
  opacity: 1;
}
#bottom_hexgen_about {
  position: absolute;
  top: 158px;
  z-index: 987;
  left: 0px;
  right: 0px;
  padding: 100px 0;
}
#left_hexgen_about {
  position: absolute;
  top: 160px;
  z-index: 888;
  right: 0px;
  left: 0px;
  padding: 100px 0;
}
#right_hexgen_about {
  position: absolute;
  top: 160px;
  z-index: 888;
  left: 0px;
  right: 0px;
  padding: 100px 0;
}
.common_hexgen_abot img {
  width: 250px;
  height: 232px;
  opacity: 0;
}
#mySVG {
  position: fixed;
  top: 21%;
  width: 400px;
  height: 210px;
  margin-left: -20px;
  padding-top: 15px;
  opacity: 0;
	transition: all 0.2s ease-in-out;
}
#mySVG.show {
	opacity: 1;
}
.recaptcha-container {
  padding: 20px 0;
}
.message-error {
  color: #a70101;
}
#wpmem_login .form {
  width: 360px;
  margin: 0px auto !important;
}
#user-profile ul {
  list-style-type: none;
  float: left;
  width: 100%;
}
#user-profile ul li a {
  background: #009cff;
  padding: 10px;
  float: left;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
#wpmem_reg .noinput {
  width: 100% !important;
}
.page-template-page-home #top-bar, .page-template-page-products #top-bar {
  display: none;
}
div.wpcf7 .ajax-loader {
  display: none
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  color: #ffffff;
  margin: 0px !important;
}
.contact_bnt {
  font-size: 16px;
  max-width: 270px;
  background: url(../depton-theme/img/btn-white-bck.png)no-repeat center center;
  background-size: 100% 100%;
  filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
  text-decoration: none;
  border-width: inherit;
}
.recapt-hidden-msg {
  display: none;
}
:focus{
  outline: none !important;
}
.footerDetails__label{
  width: 28%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem !important;
}
.footerDetails__details{
  width: 58%;
  display: inline-block;
}
@media only screen and (max-width: 1200px) {
  .footerDetails__label{
    margin-right: 1.5rem !important;
  }
  .footerDetails__details{
    width: 60%;
  }
}
@media only screen and (max-width: 1037px) {
  .footerDetails__label{
    margin-right: 1.5rem !important;
  }
  .footerDetails__details{
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .footerDetails__label{
    width: 50%;
    display: inline-block;
  }
  .footerDetails__details{
    width: 50%;
    display: inline-block;
  }
}
.contactDetails__label{
  width: 20%;
  display: inline-block;
  margin-bottom: 10px;
}
.contactDetails__details{
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
}
@media only screen and (max-width: 360px) {
  .contactDetails__label{
    width: 28%;
    display: inline-block;
  }
  .contactDetails__details{
    width: 60%;
    display: inline-block;
  }
}
div.wpcf7-response-output{
  border-radius: 3px;
}
div.wpcf7-response-output {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

div.wpcf7-mail-sent-ok {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

div.wpcf7-spam-blocked {
  color: #a28c11;
  background-color: #fff4c9;
  border-color: #fff2b8;
}
/*
====================
  Mobile and Tablet
====================
*/

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .common_hexgen_abot img {
    width: 250px;
  }
  #bottom_hexgen_about {
    top: 140px;
  }
  #right_hexgen_about {
    top: 140px;
  }
  #left_hexgen_about {
    top: 140px;
  }
}
@media only screen and (min-width: 770px) and (max-width: 992px) {
  .hexgon_arrow{
    width: 217px;
    top: 26%;
    left: 0%;
  }
}
@media only screen and (max-width: 992px) {
  #wpmem_reg {
    width: 360px;
    margin: 0px auto;
  }
  .alert-msg {
    width: 360px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 992px) {
  .depton-shoe {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 768px) {
  .phone-numbe-trainer {
    display: none;
  }

}
@media only screen and (min-width: 569px) and (max-width: 768px) {
  .common_hexgen_abot img {
    width: 220px;
  }
  #bottom_hexgen_about {
    top: 220px;
  }
  #right_hexgen_about {
    top: 220px;
  }
  #left_hexgen_about {
    top: 220px;
  }

}
@media only screen and (min-width: 574px) {
  .mobile_quality {
    display: none;
  }
}
@media only screen and (max-width: 573px) {
  .hero .btn .fa{
    display: none;
  }
  .desktop_quality {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .hexgon_arrow{
    width: 233px;
    top: 31%;
    left: 7%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 568px) {
  .common_hexgen_abot img {
    width: 160px;
  }
  #bottom_hexgen_about {
    top: 220px;
  }
  #right_hexgen_about {
    top: 220px;
  }
  #left_hexgen_about {
    top: 220px;
  }
}

@media only screen and (max-width: 480px) {
  .hexgon_arrow{
    width: 137px;
    top: 31%;
    left: 7%;
  }
  .common_hexgen_abot img {
    width: 160px;
  }
  #bottom_hexgen_about {
    top: 188px;
  }
  #right_hexgen_about {
    top: 190px;
  }
  #left_hexgen_about {
    top: 190px;
  }
}
@media only screen and (max-width: 425px) {
  .user-menu .desktop-response {
    display: none;
  }
  .user-menu .mobile-response {
    float: left !important;
    width: 100%;
  }
  #top-bar .top-bar-wrapper {
    text-align: left !important;
  }
}
@media only screen and (max-width: 400px) {
  .background_image_home {
    width: 100% !important;
  }
}

@media only screen and (max-width: 375px) {
  .background_image_home #home-a-row-1 #first-image svg {
    margin-left: 35px !important;
    bottom: 19px !important;
    width: 90px !important;
  }
  .background_image_home #home-a-row-1 #second-image svg {
    margin-left: 15px !important;
    bottom: 30px !important;
    width: 90px !important;
  }
  .background_image_home #home-a-row-2 #third-image svg {
    margin-left: 10px !important;
    bottom: 95px !important;
    width: 90px !important;
  }
  .background_image_home #home-a-row-2 #fourth-image svg {
    margin-left: 20px !important;
    bottom: 100px !important;
    width: 90px !important;
  }
  .background_image_home {
    background-size: cover !important;
    height: 94px !important;
  }
  #wpmem_login .form {
    width: 100% !important;
  }
}
@media only screen and (min-width: 360px) {
  .button_container {
    padding-top: 20px;
  }
  #wpmem_reg .req-text {
    padding: 0;
    display: block;
    float: left;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .background_image_home {
    background-size: contain !important;
    height: 84px !important
  }
  .background_image_home #home-a-row-1 #first-image svg {
    width: 75px !important;
    bottom: 30px !important;
  }
  .background_image_home #home-a-row-1 #second-image svg {
    margin-left: 15px !important;
    width: 82px !important;
    bottom: 30px !important;
  }
  .background_image_home #home-a-row-2 #third-image svg {
    margin-left: -15px !important;
    bottom: 105px !important;
    width: 82px !important;
  }
  .background_image_home #home-a-row-2 #fourth-image svg {
    margin-left: 1px !important;
    bottom: 100px !important;
    left: 65px !important;
    width: 80px !important;
  }
}