/*==========================================



==========================================*/

header .navbar-dark{
	background: #252733;
}
.hero a{
	outline: none;
}


/* Team Section */
.TM .col2{
	width: 20%;
	padding:0 30px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
.TM .col2:hover svg .svg-overlay{
	fill: rgba(37, 39, 51, 0.7);
}

.TM .col2 .txt{
	position: absolute;
	width: 74%;
	height: 100%;
	top: 0;
	visibility: hidden;
}
.TM .col2:hover .txt{
	visibility: visible;
}
.TM .col2 .img2{
	position: absolute;
	top: 11%;
	width: 70%;
	left: 13%;
	z-index: -1;
	visibility: hidden;
}
.TM .col2:hover .img2{
	visibility: visible;
}
@media(max-width: 1200px) and (min-width: 992px){
	.TM .col2 .img2{
		width: 65%;
		top: 14%;
		left: 15%;
	}
	.TM .col2 .txt{
		width: 70%;
	}
}
@media(max-width: 992px){
	.TM .col2{
		width: 33%;
	}
}
@media(max-width: 768px){
	.TM .col2{
		width: 50%;
	}
	.TM .col2 .img2{
		top: 16%;
		left: 11%;
	}
	.TM .col2 .txt{
		width: 78%;
	}
}
@media(max-width: 480px){
	.TM .col2{
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
}



/* Video Section */
.VS {
	/* overflow-x: hidden */
}
.VS .sbtn img{
	cursor: pointer
}
.VS .yb{
	position: relative;
}
.VS .yb .img{
	position: absolute;
	width: 90%;
	height: 30px;
	top: -15px;
	right: 0;
	z-index: 1;
}
.VS .col-md-5{
	min-width: 500px !important;
}
.VS .vid{
	background: url('../img/about-video-back.png')no-repeat bottom right;
	background-size: cover;
}
.VS .vid .txt{
	width: 300px;
}
.VS .WE{
	position: relative;
	/* z-index: -1; */
	/* display: -webkit-inline-box; */
	/* white-space: nowrap; */

	width: 1500px;
	margin-bottom: -2% !important;

}
.VS .WS{
	overflow: hidden;
}
.VS .WE .col-md-5{
	display: inline-block;
	max-width: none;
	flex: none;
	width: 500px;
	white-space: normal;
}
.VS .WE a{
	text-decoration: none;
}
@media(max-width: 768px){
	.VS .WE{
		margin-bottom: -10% !important;
	}
}


/* History Section */
.HS{
	position: relative;
}
.HS .img{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	max-width: 300px;
}
.HS__inner{
	position:relative; 
	z-index: 1;
}
.HS h5{
	line-height: 30px;
}
.HS p{
	line-height: 25px;
}
.HS a.bnt{
	max-width: 270px !important;
	background: url('../img/btn-white-bck.png')no-repeat center center;
	background-size: 100% 100% !important;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
	z-index: 999999;
	position: absolute;
}
