body{
	font-family: 'Rajdhani', sans-serif;
	overflow-x: hidden !important;
	transition: background 0.5s ease;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
	outline: none;
}
/* Header */
header .nav-item .nav-link{
	color: #fff !important;
	transition: .7s;
}
header .nav-item .nav-link:hover{
	text-shadow: 0 0 10px #fff;
}
header .nav-item .nav-link.cl{
	color: #C7C7C7 !important;
}
@media(max-width: 992px){
	header .navbar-nav{
		background: rgba(0, 0, 0, .7);
		padding: 20px;
	}
}

.QS{
	font-family: 'Quicksand', sans-serif !important;
}
.RD{
	font-family: 'Rajdhani', sans-serif !important;
}
.fwb{
	font-weight: bold !important;
}
.fwr{
	font-weight: 400 !important;
}
.fwm{
	font-weight: 500 !important;
}
.cw{
	cursor: #fff !important;
}
.cb{
	color: #312F2F !important;
}
.bgb{
	background: #252733 !important;
}
.bgt{
	background: transparent !important;
}
.cl{
	color: #C4C4C4 !important;
}
.tdn{
	text-decoration: none !important;
}
h6.cl.afbf{
	font-size: 20px;
}
.fz14{
	font-size: 14px;
}
.fz12{
	font-size: 12px !important;
}
.pb-10{
	padding-bottom: 10rem;
}
.quote{
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}
.afbf::after,.afbf::before{
	font-size: 24px;
	content: '|';
	padding:0 10px;
}
.afbf.cl::after,.afbf.cl::before{
	color: #C4C4C4;
}
.afbf::after{
	padding-right: 0;
}
.afbf::before{
	padding-left: 0;
}
.btw{
	border-top: 2px solid white;
}
a.bnt,.bnt{
	font-size: 16px;
	max-width: 240px;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
	text-decoration: none;
	border-width: inherit;
}

h1.h1{
	font-size: 47px;
}
p.d.fwm{
	font-size: 28px;
}
p.n{
	font-size: 17px;
	line-height: 30px;
}
hr.md{
	width: 100px;
	border-top: 3px solid #252733;
	float: left;
}

@media(max-width: 992px) and (min-width: 768px) {
	h1.h1{
		font-size: 40px !important;
	}
	p.d.fwm{
		font-size: 20px;
	}
	p.n{
		font-size: 14px;
		line-height: 30px;
	}
	.pb-10{
		padding-bottom: 5rem;
	}
}
@media(max-width: 480px) {
	h1.h1{
		font-size: 40px !important;
	}
	p.d.fwm{
		font-size: 20px;
	}
	p.n{
		font-size: 14px;
		line-height: 20px;
	}
	.pb-10{
		padding-bottom: 3rem;
	}
	.hide-mobile{
		display: none;
	}
}
/* Footer */

footer{
	color: #F2F2F2 !important
}
footer .lft{
	background: #312F2F;
}
footer .rght{
	background: #242222;
}


form input.form-control{
	border: none;
	border-radius: 0;
	border-bottom:1px solid #312F2F;
}
form input.form-control::placeholder{
	color: #312F2F;
	text-transform: uppercase;
}


/* Side bar */
.side .btns a{
	filter: drop-shadow(10px 10px 5px rgba(37, 39, 51, 0.07));
}

.carousel-fade .carousel-inner .carousel-item {
	transition-property: opacity;
  }
  .carousel-fade .carousel-inner .carousel-item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
	z-index: 2;
  }
