.social li a{
	width: 25px;
	display: block;
	text-align: center;
	border-radius: 20px;
}

.map{
	background: #312F2F;
}
input {
	-webkit-appearance: none;
}
form .form-control{
	border: none;
	border-radius: 0;
	border-bottom:1px solid #fff !important;
	background: transparent  !important;
	padding-left: 20px;
	color: #fff !important;
	font-weight: 500;
	outline: none;

}
form .form-control:focus{
	outline: none;
}
form .form-control::placeholder{
	color: #fff  !important;
	text-transform: uppercase;
	font-weight: 500;
}
form textarea{
	display: table;
	vertical-align: middle;
}

form button.bnt{
	border: none;
	min-width: 250px;
	max-width: 270px;
	background: url('../img/btn-white-bck.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
	cursor: pointer;
}
.captacha {
	border-top: 1px solid #373A4F;
}
.captacha img{
	width: 280px;
}
@media(max-width: 992px){
	.map-right-col{
		padding-top: 0 !important;
	}
}