/*==========================================



==========================================*/
.navbar{
	background: transparent !important;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}
.hero{
	background-size: cover;
	position: relative;
}
.hero h1{
	font-size: 55px;
}
.hero .btn{
	font-size: 16px;
	max-width: 270px;
	background: url('../img/hero-btn-back.png')no-repeat center center;
	background-size: 100%	100%;
}
.hero .btn .fa{
	font-size: 24px;
}
@media(max-width: 768px){
	.hero{
		background-position:bottom left;
	}
	.hero h1{
		font-size: 40px;
	}
}


/* Under Header  */
.UH p.small{
	line-height: 40px;
}
.UH p.h3{
	line-height: 40px;
}

.UH a.bnt{
	font-size: 14px;
	max-width: 270px;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
}
.UH .bb1{
	border-bottom: 5px solid #252733;
}

@media(max-width: 768px){
	.UH .lf img{
		width: 100% !important;
	}
	.UH p.small{
		line-height: 20px;
	}
	.UH p.h3{
		font-size: 20px;
		line-height: 30px;
	}
}


/* Counter Section */

.CT{
	background: url('../img/svg/stats_bg.svg') top right;
	background-size: cover;
	position: relative;
	padding-bottom: 9px;
}
.CT .container{
	position: relative;
	z-index: 1;
}
.CT p{
	display: table;
	background: url('../img/count-number-back.png')no-repeat center center;
	background-size: 100% 100%;
}
.CT h1{
	font-size: 60px;
}

@media(max-width: 768px){
	.CT h1{
		font-size: 50px;
	}
	.CT .txt{
		text-align: center;
	}
	.CT .txt p{
		margin: auto;
	}
}
/* Consult Section */
.CON{
	padding-top: 131px;
}
@media(max-width: 480px){
	.CON{
		padding-top: 40px;
	}
}
/* Design Section */
.DES{
	padding-top: 155px;
}
@media(max-width: 480px){
	.DES{
		padding-top: 60px;
	}
	.DES svg{
		padding-bottom: 40px;
	}
}
.indi{
	opacity: 1;
}
.indi img{
	width: 100%;
}
.indil{
	top: auto;
	bottom: 15%;
	left: 32%;
}
.indir{
	bottom: auto;
	top: 12%;
    right: 28%;
}
.DES a.bnt{
	font-size: 16px;
	max-width: 270px;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
}
/* Manu Section */
.MAN{
	padding-top: 206px;
}
@media(max-width: 480px){
	.MAN{
		padding-top: 50px;
	}
}
/* Quality Control */
.REW{
	padding-top: 100px;
}
@media(max-width: 480px){
	.REW{
		padding-top: 35px;
	}
}
.REW  .qc p{
	vertical-align: top;
}
@media(max-width: 768px){
	.REW p{
		font-size: 14px;
	}
}
/* Delivery Section */
.DEL{
	padding-top: 100px;
	padding-bottom: 208px;
}
@media(max-width: 480px){
	.DEL{
		padding-top: 30px;
		padding-bottom: 50px;
	}
}
/* Above Footer Section */
.AF {
	background: url('../img/home-above-footer-back.jpg')no-repeat top right ;
	background-size: cover;
}
.AF p.fwm, .AF p.fwm  a{
	font-size: 18px;
	color: #3E8696 !important;
}
.AF p.RD{
	font-size: 24px;
}

/* Scroll section */
.CON{
	position: relative;
}
.CON .container{
	padding-bottom: 0;
}
@media(max-width: 1370px){
	.CON .container{
		padding-bottom: 0;
	}
}
.scrollArea{
	position: absolute;
	top: 87px;
	left: 0;
	width: 66px;
	height: 2822px;
	background: url(../img/svg/scroll_bg.svg) no-repeat;
}
#star-svg,#shoe-svg{
	position: fixed;
	top: 87px;
	left: 90px;
	width: 50px;
	opacity: 1;
	transition: all 0.2s ease-in-out;
}
#star-svg.show,#shoe-svg.show{
	opacity: 1;
}
@media(max-width: 1370px){
	.scrollArea{
		display: none;
	}
}

/* Hero overlay */
.heroOverlay{
	width: 1358px;
    height: 58px;
    background: url(../img/svg/hero_overlay.svg) no-repeat;
    position: absolute;
    bottom: -30px;
	right: 0;
	z-index: 10;
}
/* spikes overlay */
.spikes{
	width: 1559px;
	height: 1154px;
	background: url(../img/svg/spikes.svg) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}
.scroll-home-icons{
	position: absolute;
	width: 133px;
}
.consult-scroll{
	top: 58px;
    left: 30px;
}
.design-scroll{
	top: 751px;
    left: 30px;
}
.manu-scroll{
	top: 1302px;
    left: 30px;
}
.delivery-scroll{
	top: 2191px;
	left: 30px;
	width: 190px;
}
.depton-shoe{
	margin-left: 35px;
}