.hero{
	padding-bottom: 150px;
}

/* Detailed Section */
.DTL{
	position: relative;
}
.DTL .img{
	position: absolute;
	width: 100%;
	height: 115%;
	text-align: center;
	top: -180px;
}
.DTL .img img{
	width: 50px;
	height: 100%;
}

.DTL{
	background: #3E8696;
}
.DTL .oct{
	width: 50px;
	height: 38px;
}
.DTL p{
	line-height: 30px;
}
@media(max-width: 992px){
	.DTL .img{
		top: -225px;
	}
}


/* SLider section */
.SL{
	background: url('../img/startup-slider-back.jpg')no-repeat bottom center;
	background-size: cover;
}
.SL .carousel-control-prev,.carousel-control-next{
	top: -30%;
}
.SL .carousel-indicators li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

/* Download guide section */
.DG .gd{
	background: #252733;
	max-width: 200px;
	filter: drop-shadow(13px 13px 0 rgba(232, 232, 232, 1));
	text-decoration: none;
}
.DG .gd img{
	max-width: 80px;
}
.DG p.lead{
	color: #6E6E6E;
}
.DG a.bnt{
	font-size: 16px;
	max-width: 230px;
	padding: 15px 20px !important;
	background: url('../img/design-btn-back.png')no-repeat center center;
	background-size: 100% 100%;
	filter: drop-shadow(13px 20px 13px rgba(37, 39, 51, 0.07));
	text-decoration: none;
}